html, body{
	margin:0;
	padding:0;
	overflow: auto;
}

body {

	background: linear-gradient(10deg,#fff,#f2f2f2);
	background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:slategrey;

}

.admin-home a {
	color: grey;
	font-family: Helvetica,Arial,sans-serif;
}

.admin-home a:hover {
	text-decoration: none;
}

#map {
	height:600px;
	width:100%;
}

.cadastro-info {
	margin-top: 10px;
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}

.cadastro-info h4{
	text-align: center;
    color: gray;
}